/* Global */

.buttons-contain {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    min-width: 130px;
    background-color: white;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.3s ease, filter 0.6s ease;
}

.button::before {
    content: '';
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
}

.button-content {
    z-index: 1;
    position: inherit;
    color: white;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    font-family: "title";
}

.button-corner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 17px;
    height: auto;
    transition: transform 0.3s ease; 
    transform-origin: top right;
}

.button.md {
    --cut-size: var(--cut-size-md);
    height: 48px;
    padding: 0 24px;
    font-size: 16px;
}

@media (max-width: 749px) {
    .button.md {
        --cut-size: var(--cut-size-md);
        height: 38px;
        padding: 0 22px;
        font-size: 14px;
}
}


/* Sizes */
/* Size small */
.button.sm {
    --cut-size: var(--cut-size-sm);
    height: 32px;
    padding: 0 16px;
    font-size: 12px;
    min-width: 100px;

    & .button-corner {
        width: 10px;
    }

    &:hover .button-corner {
        transform: scale(1.5);
    }
}

@media (max-width: 1124px) {
    .button.sm {
        min-width: 40px;
        min-height: 34px;
        padding: 0 16px;     
    }
}

/* Size large */
.button.lg {
    --cut-size: var(--cut-size-lg);
    height: 58px;
    padding: 0 30px;
    font-size: 24px;
    min-width: 240px;

    & .button-corner {
        width: 24px;
    }

    &:hover .button-corner {
        transform: scale(1.4);
    }
}

@media (min-width: 749px) and (max-width: 1124px) {
    .button.lg {
        --cut-size: var(--cut-size-md);
        height: 42px;
        padding: 0 20px;
        font-size: 16px;
        min-width: 140px;

        & .button-corner {
            width: 17px;
        }
    }

}

@media (max-width: 749px) {
    .button.lg {
        --cut-size: var(--cut-size-sm);
        height: 34px;
        padding: 0 16px;
        font-size: 12px;
        min-width: 80px;

        & .button-corner {
            width: 10px;
        }

        &:hover .button-corner {
            transform: scale(1.5);
        }
    }
}



/* BUTTON TYPE */
/* Primary */

.button.primary {
    background-image: linear-gradient(45deg, transparent 0%, #BAEFFB 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #275880 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #BAEFFB; 
    }

    &:not(.disabled):hover {
        filter: drop-shadow(0 0 10px #ffffff8e );
        background-image: linear-gradient(45deg, transparent 0%, #BAEFFB 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }

    &:hover .button-corner {
        transform: scale(1.5);
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2)); 
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #275880 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}


/* Secondary */

.button.secondary {
    background-image: linear-gradient(45deg, transparent 0%, #F8EED5 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #b59b59 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #E0CEA0; 
    }

    & .button-content {
        color: white;   
    }

    &:not(.disabled):hover {
        background-image: linear-gradient(45deg, transparent 0%, #ffffff 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover .button-corner {
        transform: scale(1.5); 
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #E0CEA0 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}


/* Succes */

.button.succes {
    background-image: linear-gradient(45deg, transparent 0%, #206127 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #4AD45A 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #4AD45A;
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        background-image: linear-gradient(45deg, transparent 0%, #206127 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover .button-corner {
        transform: scale(1.5); 
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #4AD45A 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}


/* Error */

.button.error {
    background-image: linear-gradient(45deg, transparent 0%, #ac0606 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #FC0606 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #FC0606;
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        filter: drop-shadow(0 0 10px #ffffff8e );
        background-image: linear-gradient(45deg, transparent 0%, #ac0606 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }

    &:hover .button-corner {
        transform: scale(1.5);
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #FC0606 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}


/* Warning */

.button.warning {
    background-image: linear-gradient(45deg, transparent 0%, #9b4f0c 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));  /* dar color al borde*/

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #FD7E14 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size))); /* dar color al fondo del boton*/
    }

    & .button-corner {
        color: #FD7E14;
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        filter: drop-shadow(0 0 10px #ffffff8e );
        background-image: linear-gradient(45deg, transparent 0%, #9b4f0c 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }

    &:hover .button-corner {
        transform: scale(1.5);
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #FD7E14 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}


/* Info */

.button.info {
    background-image: linear-gradient(45deg, transparent 0%, #0a616e 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #17A2B8 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #17A2B8;
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        background-image: linear-gradient(45deg, transparent 0%, #0a616e 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover .button-corner {
        transform: scale(1.5);
        filter: drop-shadow(0 0 10px #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #17A2B8 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}


/* Disabled */

.button.disabled .button-corner {
    color: #555252;
  }

.button.disabled .button-content {
    color: #555252;
}

.button.disabled {
    background-image: linear-gradient(45deg, transparent 0%, #736F6F 0% calc(100% - 18px), transparent calc(100% - 18px));
    pointer-events: none;
}

.button.disabled::before {
    opacity: 0.6;
    background-image: linear-gradient(45deg, transparent 0%, #f5f3f3 0% calc(100% - 18px), transparent calc(100% - 18px));   
}

.button-container:has(.button.disabled) {
    cursor: not-allowed;
}


/* Button Outlined */

.button.outlined::before {
    background-image: none;
}

.button.outlined {
    color: white;
    background-color: #275880;
    transition: box-shadow 0.3s ease-in-out;
}

.button.outlined.md {
    height: 38px;
}

/*  BORDES VERTICALES  */
  
/* Derecha: arriba y abajo */
.button.outlined .right-line-top,
.button.outlined .right-line-bottom {
    position: absolute;
    right: 0;
    width: 1px;
    height: 25%;
}

.button.outlined .left-line-top,
.button.outlined .left-line-bottom {
    position: absolute;
    left: 0;
    width: 1px;
    height: 25%;
}

.button.outlined .right-line-top, 
.button.outlined .left-line-top {
    top: 0;
}

.button.outlined .right-line-bottom,
.button.outlined .left-line-bottom  {
    bottom: 0;
}

/*  BORDES HORIZONTALES  */

/* Top left */
.button.outlined .top-line-left {
    top: 0;
    left: 0;
    width: 18%; /* no llega al centro */
    height: 1px;
}

/* Top right */
.button.outlined .top-line-right {
    top: 0;
    right: 0;
    width: 18%;
    height: 1px;
}

/* Bottom left */
.button.outlined .bottom-line-left {
    bottom: 0;
    left: 0;
    width: 18%;
    height: 1px;
  
}

/* Bottom right */
.button.outlined .bottom-line-right {
    bottom: 0;
    right: 0;
    width: 18%;
    height: 1px;
    
}

.button.outlined:hover {
    box-shadow: 0px 0px 15px 0px rgba(124, 210, 255, 1);

}

.bottom-line-right,
.bottom-line-left,
.top-line-right,
.top-line-left,
.right-line-top,
.right-line-bottom,
.left-line-top,
.left-line-bottom {
    position: absolute;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    background-color: #ffffff;
}

  .button.outlined:hover .bottom-line-right,
  .button.outlined:hover .bottom-line-left,
  .button.outlined:hover .top-line-right,
  .button.outlined:hover .top-line-left {
    width: 50%;
    box-shadow: white;
  }


  .button.outlined:hover .right-line-top,
  .button.outlined:hover .right-line-bottom,
  .button.outlined:hover .left-line-top,
  .button.outlined:hover .left-line-bottom {
    height: 50%;
  }

  /* DropDown-Button */

.dropdown-button {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

@media (max-width: 1124px) {
    .dropdown-button {
        align-items: center;
    }
}

.dropdown-button__options {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transform: translate(-50%, -10px); 
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    z-index: 1000;

    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease, max-height 0.3s ease;
}

@media (max-width: 1124px) {
    .dropdown-button__options {
        left: 12.5%;
    }
}

.dropdown-button__options.open {
    opacity: 1;
    transform: translate(-50%, 0); /* muestra hacia abajo */
    visibility: visible;
    max-height: 500px;
    backdrop-filter: blur(16px);

}

.filter-modal-buttons .button,
.filter-modal-buttons .dropdown-button {
    width: 100%;
}

.filter-modal-content .dropdown-button__options,
.filter-modal-content .dropdown-button__options.open,
.filter-modal-content .dropdown-button__options.static-position,
.filter-modal-content .dropdown-button__options.open.static-position {
    transform: none;
}
  
.dropdown-button__option {
    padding: 8px 16px; 
    text-align: center;
    font-size: 14px; 
    cursor: pointer;
    width: 100%; 
    height: 36px; 
    transition: background-color 0.2s ease, border-color 0.2s ease;
    font-weight: bold;
    color: #275880; 
    background-color: white; 
}

  .dropdown-button__option:first-of-type {
    margin-top: 6px;
  }

  .dropdown-button__option:hover {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.7);

    background-color: #275880; 
    border: 1px solid #7CD2FF; 
    color: white; 
  }

  .dropdown-icon {
    margin-left: 10px;
  }

  .dropdown-button__options.static-position {
  position: static;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

