@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.loading-text {
    margin-top: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5e5c0;
    font-family: "Geist", sans-serif;
    font-weight: 400;
}