html {
    font-size: 62.5%;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-items: center; 
    width: 100%;
    justify-content: center;
  }

.hyrule-card__border:hover {
    cursor: pointer;
}

.cards-wrapped {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 25px;
}

.collection-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0;
    position: relative;
}

.collection-page__buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: sticky;
    top: 230px;
    height: fit-content;
    align-items: center;
}

/* Gif  */

.no-cards-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 300px;
    width: 100%;
}

.no-cards-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
}
@media (max-width: 1000px) {
    .card--sm {
        transform: scale(0.9);
    }
}