html {
    font-size: 62.5%;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-items: center; 
    width: 100%;
    max-width: 100vw;
    justify-content: center;
}

@media (min-width: 750px) and (max-width: 1124px) {
    .collection-container {
        gap: 8rem;
    }
}

@media (max-width: 749px) {
    .collection-container {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: fit-content;
        margin: 0 auto;
    }
}

@media (min-width: 550px) and (max-width: 748px) {
    .collection-container {
        gap: 7rem;
    }
}


.hyrule-card__border:hover {
    cursor: pointer;
}

.cards-wrapped {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 25px;
}

@media (max-width: 1124px) {
    .cards-wrapped {
        flex-direction: column-reverse;
    }
}

.collection-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0;
    position: relative;
}

@media (max-width: 1124px) {
    .collection-page {
       grid-template-columns: 1fr;
       column-gap: 0;
       row-gap: 36px;
       margin-top: 26px;
    }
}

.collection-page__buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: sticky;
    top: 230px;
    height: fit-content;
    padding: 0 27px;
}

@media (max-width: 1124px) {
    .collection-page__buttons {
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 0;
        top: 190px;
    }
}

@media (max-width: 749px) {
    .collection-page__buttons {
        gap: 18px;
    }
}

/* Gif  */

.loading-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 300px;
    width: 100%;
}

.loading-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
}

.no-cards-message {
    display: flex;
    align-items: center;
    grid-column: span 3;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
}

.no-cards-message p {
    color: white;
    font-size: 16px;
}

   @media (max-width: 1124px) {
        .card-container {
           height: 147px;
        }
    }
