.error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
}
  
.register-form {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
  
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.register-input {
  width: auto;
}

.register-input input {
    padding: 10px 0;
    text-transform: none; 
}

.button-register {
  margin-top: 26px;
}

.register-input-content {
  display: flex;
  flex-direction: column;
  gap: 28px;;
}



.register-form-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 749px) {
  .register-logo__img {
    max-width: 300px;
  }
}