.store-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 7rem;
    overflow: visible;
}

.store-main__textbox__text {
    color: #7CD2FF;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2.2rem;
}

.store-main__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5.6rem;
    justify-content: center;
}

.store-main__textbox__buttons {
    display: flex;
    margin-top: 2rem;
    gap: 2.5rem
}

.store-main:not(.dragging) .card-content {
    cursor: pointer;
}

.store-main.dragging {
  cursor: grabbing;
  user-select: none;
}

    @media (max-width: 764px) {
        .store-page {
            margin-top: 10rem;
        }
        .store-main {
            display: flex;
            overflow-x: auto;
            padding: 3rem 7rem;
            justify-content: unset;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            touch-action: pan-x;
            gap: 1.6rem;
            scroll-padding-inline: 1rem;
            scrollbar-width: none;
            user-select: none;
            padding-inline: 6rem;
            margin-top: 1rem;
        }

        .store-main .card-content {
            transform: scale(0.8);
            transition: transform 0.3s ease;
        }

        .store-main .card-content.active {
            transform: scale(0.9);
        }

        .store-main__textbox {
            margin-top: 0;
        }
    }

