body:has(.login-page),
body:has(.register-form-container) {
  margin: 0;
}

.login-page,
.register-form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-form-container{
  display: flex;
  justify-content: center;
}

.success-message {
    color: #17f017;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
  }
  
.error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
  }
    
.login-form {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.switch-form {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    display: flex;
    gap: 6px;
  }
  
  .switch-form a {
    color: #3498db;
    text-decoration: none;
  }
  
  .switch-form a:hover {
    text-decoration: underline;
  }

  .button-login {
    margin-top: 26px;
  }

  .input-login {
    width: auto;
  }

  .input-login-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }


 



  