header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background: rgba(39, 88, 128, 0.1); 
  position: relative;
}
 
.header-logo {
  font-size: 36px;
  text-decoration: none;
  color: #E0CEA0;
}

.header-content {
  display: flex;
  gap: 10px;
}

.header-nav {
  display: flex;
  gap: 26px;
  margin-right: 100px;
  align-items: center;
}

.header-nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  font-family: 'title';
}

nav a:hover {
  filter: drop-shadow(0 0 10px #FFFFFF );
}

.user-money {
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-money p {
  color: #FFFFFF;
  font-size: 20px;
}



