@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.hyrule-card__border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 21rem; 
    border-radius: 0.7rem;
}

.common {
    background-color: #f5e5c0;
    background: radial-gradient(circle,rgba(224, 206, 160, 1) 68%, rgba(83, 71, 45, 1) 90%);
}

.rare {
    background-color: #7CD2FF;
    background: radial-gradient(circle,#7CD2FF 68%, #275880 90%);
}

.epic {
    background-color: #BA6ED5;
    background: radial-gradient(circle,#BA6ED5 68%, #653277 90%);
}

.hyrule-card {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;
    color: #f5e5c0;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;  
    width: calc(100% - 8px);
    height: calc(100% - 8px); 
    background-image: url(..\..\assets\backgrounds\card-background.png);
    background-size:90% 90%;
    background-color: #0d0d0d;    
}

.hyrule-card__header {
    margin-inline: 0.95rem;
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center; /*hace que el título y los puntos se alinen horizontalmente*/
    font-family: 'title';
    font-size: 0.82rem;
    margin-bottom: 0;
    color: #f5e5c0;
    width: 100%;
}

.hyrule-card__type {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}

.hyrule-card__icon {
    padding-left: 0.2rem;
    width: 1rem;
    height: auto;
    margin-bottom: -0;
}

.hyrule-card__header .h2 {
    font-size: 1.2rem;
    line-height: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #f5e5c0;
}

.hyrule-card__points {
    font-family: 'title';
    font-weight: 100;
}

.hyrule-card__image {
    border-radius: 0.35rem;
    width: 100%;
    height: 8rem;
    overflow: hidden;
    position: relative;
}

.hyrule-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block; 
}

.common-frame {
    outline: 0.12rem solid #B99F65;
}

.rare-frame {
    outline: 0.12rem solid #7CD2FF;
}

.epic-frame {
    outline: 0.12rem solid #BA6ED5;
}

.hyrule-card__content {
    padding-inline:  0rem;
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.hyrule-card__content__frame {
    width: 13rem;
    position: absolute;
    margin: auto;
    top: 50%;
    bottom: 1;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.hyrule-card__content__info {
    width: 90%;
    z-index: 1;
    position: relative;
}

.hyrule-card__description {
    font-size: 0.7rem;
    color: #97DCFF;
    text-align: center;
    text-shadow: 0px 0px 3px #5BB3FB;
    font-style: normal;
    line-height: 0.8rem;
    display: -webkit-box;
    font-family: "Inknut Antiqua", serif;
}

.hyrule-card__description p {
    margin-bottom: 0.2rem;
    font-size: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.85rem;
    font-family: "Inknut Antiqua", serif;
}

.hyrule-card__section h3 {
    font-weight: 200;
    font-size: 1rem;
    font-family: 'title';
    margin: 0;
    line-height: 1rem;
    padding-top: 0.55rem;
    padding-bottom: 0.2rem;
    text-align: center;
}

.hyrule-card__section {
    margin: 0;
}
.hyrule-card__section p {
    font-size: 0.5rem;
    color: #97DCFF;
    text-align: center;
    text-shadow: 0px 0px 3px #5BB3FB;
    font-style: normal;
    line-height: 4px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Inknut Antiqua", serif;
}

.hyrule-card__footer {
    text-align: center;
    font-size: 0.45rem;
    color: #B99F65;
    font-family: 'title';
    padding-top: 0.8rem;
    font-weight: 600;
    font-style: normal;
    line-height: 0.3;
    margin-bottom: 0.15rem;
}

.card--disabled {
  cursor: pointer;
}

.collection-page .hidden-card .hyrule-card {
    display: none;
}

.collection-page .hidden-card {
    background-image: url('../../assets/backgrounds/no-available-card.png');
    background-repeat: repeat-y;
    background-size: auto 100%;
    background-position: left top;
    border-radius: 0;
    pointer-events: none !important;
}

.hyrule-card__content__info {
    margin-bottom: 0.25rem;
}

.hyrule-card__content__info p {
    margin-bottom: 0.2rem;
}

@media (max-width: 750px) {
    body:not(.slider-page) .hyrule-card__border {
        width: 13rem;
        height: 19rem; 
    }

    body:not(.slider-page) .hyrule-card__content__frame {
        width: 11.5rem;
    }

    body:not(.slider-page) .hyrule-card__image {
        height: 7rem;
    }

    body:not(.slider-page) .hyrule-card__description p {
        font-size: 4px;
        margin-bottom: 3px;
        line-height: 7px;
    }

     body:not(.slider-page) .hyrule-card__section h3 {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        font-size: 8px;
    }

    body:not(.slider-page) .hyrule-card__section p {
        line-height: 6px;
        font-size: 4px;
        padding-bottom: 1px;
    }
}

@media (max-width: 550px) {
    body:not(.slider-page) .hyrule-card__border {
        width: 9.2rem;
        height: 14rem; 
        border-radius: 3px;
    }

    body:not(.slider-page) .hyrule-card {
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        border-radius: 0.2rem;
        padding: 0.2rem 0.4rem;
    }

    body:not(.slider-page) .hyrule-card__content__frame {
        width: 8rem;
    }
    body:not(.slider-page) .hyrule-card__content {
        margin-top: 0;
    }

    body:not(.slider-page) .hyrule-card__image {
        height: 5.1rem;
        width: 95%;
        border-radius: 2px;
        margin-top: -8px;
    }

    body:not(.slider-page) .hyrule-card__header {
        margin-top: 2px;
        margin-bottom: 6px;
    }
    body:not(.slider-page) .hyrule-card__header .h2 {
        font-size: 7px;
        line-height: 0;
    }
    body:not(.slider-page) .hyrule-card__points {
        font-size: 4px;
    }
    body:not(.slider-page) .hyrule-card__icon {
        width: 6px;
    }

    body:not(.slider-page) .hyrule-card__description {
        line-height: 4px;
    }
    body:not(.slider-page) .hyrule-card__description p {
        font-size: 3px;
        line-height: 6px;
        margin-bottom: 0;
        margin-top: 3px;
    }
    body:not(.slider-page) .hyrule-card__section h3 {
        font-size: 5px;
        padding-top: 1px;
        line-height: 0.2rem;
    }
    body:not(.slider-page) .hyrule-card__section p {
        font-size: 3px;
        margin-bottom: 0;
    }

    body:not(.slider-page) .hyrule-card__footer {
        padding-top: 3px;
        font-size: 4px;
    }

    body:not(.slider-page) .hyrule-card__content__info {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    body:not(.slider-page) .hyrule-card__image {
        width: 100%;
        aspect-ratio: 63/40;
        margin-bottom: 3px;
    }
}