@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.chest-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23.375rem;
    height: 40.5rem;
    transition: transform 0.3s ease;
}

span {
    font-family: 'title';
}

.chest-button:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.chest-button__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chest-button h1, .chest-button h2{
    color: #ffffff;
    text-align: center;
    font-weight: 200;
    letter-spacing: 0.05rem;
    font-size: 2rem;
    font-family: "title", serif;
}

.chest-button__span {
    color: #f5e5c0;
    text-align: center;
}

.chest-button__img {
    width: 25rem;
    height: 25rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    /* user-drag: none; */
    -webkit-user-drag: none;
}

.chest-button__text h3 {
    text-align: center;
    margin-top: 1rem;
    font-weight: 400;
    color: #ffffff;
    font-family: "Geist", sans-serif;
}

.chest-button__text__common {
    color: #f5e5c0;
}

.chest-button__text__rare {
    color: #7CD2FF;
}

.chest-button__text__epic {
    color: #BA6ED5;
}

.chest-price__content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.chest-price__content p {
    font-size: 18px;
    color: white;
    font-family: "title", serif;
}

    @media (max-width: 1124px) {
        .chest-button {
            width: 18rem;
            height: 32rem;
        }

        .chest-button__img {
            width: 18rem;
            height: 18rem;
    }

        .chest-button h1, h2 {
            font-size: 1.7rem;
        }

        .chest-rupia-icon {
            width: 18px;
            height: 18px;
        }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, -10px);
  }
  40% {
    transform: translate(10px, 10px);
  }
  60% {
    transform: translate(-10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}

.chest-button__img.vibrar {
  animation: glitch 0.5s infinite;
  transform: scale(1.2);
}
.chest-button__rupia {
    height: 1.8rem;
}
