.footer {
  width: 100%;
  padding: 25px 4vw 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  box-sizing: border-box;
  margin-top: auto;
}

.copyRight {
  color: white;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footerLink {
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #7cd2ff;
}

.copyRight {
  font-size: 16px;
  margin-bottom: 10px;
}

/* 🌐 Responsive - para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .footerLinks {
    justify-content: center;
  }

  .copyRight {
    margin-bottom: 0;
  }
}
