button {
    min-width: 246px;
    padding: 20px 24px;
    position: relative;
    background-image: linear-gradient(45deg, transparent 0%, #BAEFFB 0% calc(100% - 18px), transparent calc(100% - 18px));
    background-color: white;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    font-size: 20px;

}

button::before {
    content: '';
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-image: linear-gradient(45deg, transparent 0%, #275880 0% calc(100% - 18px), transparent calc(100% - 18px));
}

.button-content {
    z-index: 1;
    position: inherit;
    color: white;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease; /* Asegura transición suave */
}

.button-corner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 17px;
    height: auto;
    transition: transform 0.3s ease; /* Transición para el SVG */
    transform-origin: top right;
}


button:not(.disabled):hover {
    filter: drop-shadow(0 0 1rem #ffffff8e );
    background-image: linear-gradient(45deg, transparent 0%, #BAEFFB 0% calc(100% - 22px), transparent calc(100% - 22px));
}

button:hover .button-corner {
    transform: scale(1.5); /* Hace que el SVG crezca más que el botón */
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2)); /* Sombra en el SVG */
}

button:not(.disabled):hover::before {
    background-image: linear-gradient(45deg, transparent 0%, #275880 0% calc(100% - 22px), transparent calc(100% - 22px));
}

.buttons-contain {
    display: flex;
    gap: 24px;
    align-items: center;
}

/* Estilos color */

.secondary::before {
    background-image: linear-gradient(45deg, transparent 0%, #7eb4d1 0% calc(100% - 18px), transparent calc(100% - 18px));
}

/* Estilo disabled */

.disabled::before {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none; /*  Esto evita cualquier interacción */
    filter: none; /* Elimina sombras, si tenés hover activo */
    transform: none; /* Evita efectos de transformación */
    background-image: linear-gradient(45deg, transparent 0%, #bcbcbc 0% calc(100% - 18px), transparent calc(100% - 18px));
}

.disabled:hover, 
.disabled:hover .button-corner {
    transform: none;
    filter: none;
}

/* Estilos tamaño */

.button.sm {
    min-width: 180px;
    padding: 12px 16px;
    font-size: 12px;
}

.button.lg {
    min-width: 346px;
    padding: 28px 30px;
    font-size: 24px;
}






