button {
    min-width: 246px;
    padding: 20px 24px;
    position: relative;
    background-image: linear-gradient(45deg, transparent 0%, #BAEFFB 0% calc(100% - 18px), transparent calc(100% - 18px));
    background-color: white;
    border: none;
    background-color: transparent;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

button::before {
    content: '';
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-image: linear-gradient(45deg, transparent 0%, #275880 0% calc(100% - 18px), transparent calc(100% - 18px));
}

.button-content {
    z-index: 1;
    position: inherit;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.button-corner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 17px;
    height: auto;
}

/* .button-backgorund {
    background-color: #275880;
    height: 57px;
    min-width: 245.9px;
    display: inline-block; /* que se ajuste al contenido */
    /* position: relative;
    cursor: pointer; */
 

    button:hover::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient(45deg, transparent, #BAEFFB, transparent);
        animation: glow 2s linear;
        z-index: 1;
        
        /* Solo mostrarlo en los bordes usando máscara */
        mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask-composite: destination-out;
    
        pointer-events: none;
    }
    
    /* Animación del brillo */
    @keyframes glow {
        0% {
            transform: translate(-100%, 100%) rotate(45deg);
        }
        100% {
            transform: translate(100%, -100%) rotate(45deg);
        }
    }
    




