/* Global */

.buttons-contain {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    position: relative;
    background-color: white;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.3s ease, filter 0.6s ease;
}

button::before {
    content: '';
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
}

.button-content {
    z-index: 1;
    position: inherit;
    color: white;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.button-corner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 17px;
    height: auto;
    transition: transform 0.3s ease; 
    transform-origin: top right;
}

/* Sizes */

.button.sm {
    --cut-size: var(--cut-size-sm);
    height: 32px;
    padding: 0 16px;
    font-size: 12px;

    & .button-corner {
        width: 10px;
    }

    &:hover .button-corner {
        transform: scale(1.5);
    }
}

.button.md {
    --cut-size: var(--cut-size-md);
    height: 56px;
    padding: 0 24px;
    font-size: 20px;
}

.button.lg {
    --cut-size: var(--cut-size-lg);
    height: 68px;
    padding: 0 30px;
    font-size: 24px;

    & .button-corner {
        width: 24px;
    }

    &:hover .button-corner {
        transform: scale(1.4);
    }
}

/* Primary */

button.primary {
    background-image: linear-gradient(45deg, transparent 0%, #BAEFFB 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #275880 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #BAEFFB; 
    }

    &:not(.disabled):hover {
        filter: drop-shadow(0 0 1rem #ffffff8e );
        background-image: linear-gradient(45deg, transparent 0%, #BAEFFB 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }

    &:hover .button-corner {
        transform: scale(1.5);
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2)); 
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #275880 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}

/* Secondary */

button.secondary {
    background-image: linear-gradient(45deg, transparent 0%, #F8EED5 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #E0CEA0 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #E0CEA0; 
    }

    & .button-content {
        color: #000000;   
    }

    &:not(.disabled):hover {
        background-image: linear-gradient(45deg, transparent 0%, #F8EED5 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover .button-corner {
        transform: scale(1.5); 
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #E0CEA0 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}

/* Succes */

button.succes {
    background-image: linear-gradient(45deg, transparent 0%, #206127 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #4AD45A 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #4AD45A;
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        background-image: linear-gradient(45deg, transparent 0%, #206127 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover .button-corner {
        transform: scale(1.5); 
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #4AD45A 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}

/* Error */

button.error {
    background-image: linear-gradient(45deg, transparent 0%, #ac0606 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #FC0606 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #FC0606;
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        filter: drop-shadow(0 0 1rem #ffffff8e );
        background-image: linear-gradient(45deg, transparent 0%, #ac0606 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }

    &:hover .button-corner {
        transform: scale(1.5);
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #FC0606 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}

/* Warning */

button.warning {
    background-image: linear-gradient(45deg, transparent 0%, #9b4f0c 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));  /* dar color al borde*/

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #FD7E14 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size))); /* dar color al fondo del boton*/
    }

    & .button-corner {
        color: #FD7E14;                  /* dar color al corner*/
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        filter: drop-shadow(0 0 1rem #ffffff8e );
        background-image: linear-gradient(45deg, transparent 0%, #9b4f0c 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }

    &:hover .button-corner {
        transform: scale(1.5); /* Hace que el SVG crezca más que el botón */
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #FD7E14 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));   /* dar color al borde con hover */
    }
}

/* Info */

button.info {
    background-image: linear-gradient(45deg, transparent 0%, #0a616e 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));

    &::before {
        background-image: linear-gradient(45deg, transparent 0%, #17A2B8 0% calc(100% - var(--cut-size)), transparent calc(100% - var(--cut-size)));
    }

    & .button-corner {
        color: #17A2B8;
    }

    & .button-content .button-corner {
        color: white;   
    }

    &:hover {
        background-image: linear-gradient(45deg, transparent 0%, #0a616e 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover .button-corner {
        transform: scale(1.5); /* Hace que el SVG crezca más que el botón */
        filter: drop-shadow(0 0 1rem #ffffff8e );
    }

    &:hover::before {
        background-image: linear-gradient(45deg, transparent 0%, #17A2B8 0% calc(100% - calc(var(--cut-size) + 4px)), transparent calc(100% - calc(var(--cut-size) + 4px)));
    }
}

/* Disabled */

button.disabled .button-corner {
    color: #555252;
  }

button.disabled .button-content {
    color: #555252;
}

button.disabled {
    background-image: linear-gradient(45deg, transparent 0%, #736F6F 0% calc(100% - 18px), transparent calc(100% - 18px));
    pointer-events: none;
}

button.disabled::before {
    opacity: 0.6;
    background-image: linear-gradient(45deg, transparent 0%, #f5f3f3 0% calc(100% - 18px), transparent calc(100% - 18px));   
}

.button-container:has(.button.disabled) {
    cursor: not-allowed;
}