.filters {
    display: flex;
    padding-inline: 2.7rem;
    margin-top: 4rem;
    justify-content: space-between;
    position: sticky;
    top: 52px;
    z-index: 10;
    background: transparent;  
    backdrop-filter: blur(16px);
}

.filters-buttons {
    display: flex;
    gap: 4rem;
}


