@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


.store-opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-inline: 30rem;
}

.hyrule-cards-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.hyrule-cards-background {
    position: absolute;
    top: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none; /* para que no bloquee clicks */
}

.hyrule-cards-container {
    position: relative;
    z-index: 0;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.hyrule-cards-container__loading-info {
    color: #f5e5c0;
    font-family: "Geist", sans-serif;
    font-size: 1.8rem;
}

.hyrule-cards__textbox {
    margin-top: 1rem;
    text-align: center;
}

.hyrule-cards__textbox p {
    align-items: center;
    color: #7CD2FF;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2.2rem;
    margin-top: 0.8rem;
}

.hyrule-cards__textbox__buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1.8rem;
    justify-content: center;
}

.hyrule-cards__textbox span {
    color:#ffffff;
}

