.hyrule-cards-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.hyrule-cards-background {
    position: absolute;
    top: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none; /* para que no bloquee clicks */
}

.hyrule-cards-container {
    position: relative;
    z-index: 0;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.hyrule-cards__textbox {
    margin-top: 4.5rem;
}
