@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


.store-opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-inline: 5rem;
    margin-top: 8rem;
    gap: 2.4rem;
}

.hyrule-cards-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.hyrule-cards-background {
    position: absolute;
    top: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none; /* para que no bloquee clicks */
}

.hyrule-cards-container {
    position: relative;
    z-index: 0;
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
}

.hyrule-cards-container__loading-info {
    color: #f5e5c0;
    font-family: "Geist", sans-serif;
    font-size: 1.8rem;
}

.hyrule-cards__textbox {
    margin-top: 1rem;
    text-align: center;
}

.hyrule-cards__textbox p {
    align-items: center;
    color: #7CD2FF;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2.2rem;
    margin-top: 0.8rem;
}

.hyrule-cards__textbox__buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1.8rem;
    justify-content: center;
}

.hyrule-cards__textbox span {
    color:#ffffff;
}

.hyrule-card {
  scroll-snap-align: center;
  transition: transform 0.3s ease;
}



.hyrule-cards-container.dragging {
  cursor: grabbing;
  user-select: none;
}

/* Responsive */

@media (max-width: 990px) {
  .store-opening {
    margin-inline: 0;
    user-select: none;
  }

  .hyrule-cards-wrapper {
    width: 100vw;
    overflow: hidden; 
    padding: 0;
    scroll-snap-align: center;
  }

  .hyrule-cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* el scroll horizontal ocurre aquí */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    gap: 7rem;
    justify-content: unset;
    padding: 3rem 7rem;
    width: 100%;
    box-sizing: border-box;
    cursor: grab; 
    scroll-behavior: smooth;
    scrollbar-width: none;
    transition: scroll-snap-type 0.3s ease;
  }

  .hyrule-cards-container.dragging {
    cursor: grabbing;
    user-select: none;
    scroll-behavior: auto;
    scroll-snap-type: none;
  }

  .hyrule-card-wrapper {
    /* flex-shrink: 0; */
    /* scroll-snap-align: center; */
    transition: transform 0.3s ease;
  }

  .hyrule-card-wrapper.active {
    transform: scale(1.09);
    z-index: 2;
  }

  .hyrule-cards__textbox {
    margin-top: 4rem;
    text-align: center;
  }
}
