html {
  background: radial-gradient(circle, #1C4362, #000000);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Geist-Mono', sans-serif;
}

@font-face {
  font-family: "The Wild Breath of Zelda";
  src: url("./fonts/the-wild-breath-of-zelda.ttf");
}

body {
  margin: 40px 60px;
  padding: 0;
}

.header-logo,h1,h2,h3,h4,h5 {
  font-family: 'title';
}
h1,h2,h3,h4,h5,p,span {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0 !important;
  margin: 0;
}
