/*HEADER*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #f5f5f5;
  position: relative;
}
.header-content {
  display: flex;
  align-items: center;
  gap: 40px; /* espacio entre logo y botón */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.name-header {
  font-size: 24px;
  font-weight: bold;
  color: #e0cea0;
}
.btn-link-header:visited {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  color: #f5f5f5;
}
/*ZONA DEL LOGO*/
.description-logo-landing {
  color: #7cd2ff;
  width: 400px;
  text-align: center;
  font-family: Geist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}
